[org/gnome/settings-daemon/plugins/media-keys]
custom-keybindings=['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom4/']
screenshot=@as []

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0]
binding='<Super>Return'
command='gnome-terminal --window --maximize'
name='Terminal maximized'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1]
binding='<Super>b'
command='bash /home/antisa/Posal/what_hostname.sh'
name='Show mbb server name for highlighted IP'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2]
binding='<Super>g'
command="\n\nsh -c 'firefox \"https://www.google.com/search?udm=14&q=$(xclip -o)\"'"
name='Search google for highlighted text'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3]
binding='<Super>F4'
command='poweroff'
name='Poweroff'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom4]
binding='Print'
command='/usr/bin/flameshot gui'
name='flameshot screenshoter'

[org/gnome/deja-dup]
exclude-list=['/home/antisa/.local/share/Trash', '/home/antisa/.steam', '/home/antisa/.config/rpcs3', '/home/antisa/retroarch-retropi', '/home/antisa/Videos/gitara_youtube']

{% if "t14" in ansible_hostname %}
[org/gnome/deja-dup/local]
folder='backups'
{% else %}
[org/gnome/deja-dup/local]
folder='/mnt/wd4tb/antisa-desktop-backup'
{% endif %}
