---
- block:
  - name: Install ubuntu packages
    apt:
        name:
            - ubuntu-restricted-extras
            - imagemagick
            - curl
            - git
            - sshfs
            - vim
            - zenity
            - mpv
            - syncthing
            - syncthing-gtk
            - chrome-gnome-shell
            - keepassxc
            - vim-gtk3
            - fzf
            - universal-ctags
            - plocate
            - filezilla
            - bsdutils
            - python3-pip
            - asciinema
            - slack-desktop
            - xclip
            - proton-vpn-gnome-desktop
            - whois
            - smplayer
            - yamllint
            - flameshot
            - borgbackup
            - tmux
            - silversearcher-ag
            - isort
            - openjdk-21-jdk
            - autokey-common
            - autokey-gtk
            - pipx
            - openvpn3
            - tree
            - flatpak
            - python3-pyfuse3
        update_cache: yes
    tags: packages

  - name: Install FUSE package for appimages
    apt:
      name:
        - libfuse2t64
    tags: appimage

  become: true
  become_user: root

- name: Install python pip packages
  vars:
    pipx_packages:
      - tldr
  community.general.pipx:
    name: "{{ item }}"
    state: latest
  with_items: "{{ pipx_packages }}"
  tags: pip-packages

- name: Add flathub remote repo
  community.general.flatpak_remote:
    name: flathub
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo

- name: Install ExtensionManager flatpak
  community.general.flatpak:
    name:
      - com.mattjakeman.ExtensionManager
    remote: flathub

