---
- block:
    - name: Install zabbix-sender
      apt:
        deb: https://repo.zabbix.com/zabbix/7.4/stable/ubuntu/pool/main/z/zabbix/zabbix-sender_7.4.1-1%2Bubuntu24.04_amd64.deb
      tags: zabbix

    - name: Install needed packages
      apt:
        name:
          - pass 
          - pcscd
          - scdaemon
          - gnupg2
          - pcsc-tools
          - ykcs11
          - libyubikey-udev
          - hiera-eyaml
          - network-manager-strongswan
          - strongswan-swanctl
          - libcharon-extra-plugins
          - icedtea-netx
          - socat
          - gocryptfs
          - nomad
          - libarchive-tools
          - apache2-utils
          - qemu-system-x86
          - ovmf

    - name: Install snaps
      community.general.snap:
        name:
          - ykman 
          - rocketchat-desktop

    - name: Install ruby gems
      community.general.gem:
        name: 
          - r10k

    - name: Add polkit conf file
      copy:
        src: 10-pcsc-custom.rules
        dest: /etc/polkit-1/rules.d/10-pcsc-custom.rules

    - name: Install portmaster
      apt: 
        deb: https://updates.safing.io/latest/linux_amd64/packages/Portmaster_2.0.25_amd64.deb
      tags: portmaster

    - name: Download jre8 for IPMI access over java jnpl files
      get_url:
        url:  https://javadl.oracle.com/webapps/download/AutoDL?BundleId=247938_0ae14417abb444ebb02b9815e2103550
        dest: /usr/lib/jvm/jre-8u361-linux-x64.tar.gz
        decompress: true

    - name: Install Mongod Compass
      apt:
        deb: https://downloads.mongodb.com/compass/mongodb-compass_1.46.11_amd64.deb
      tags: mongo


    - name: Install IVPN app
      shell:
        creates: /etc/apt/sources.list.d/ivpn.list
        cmd: |
          # Add IVPN's GPG key
          curl -fsSL https://repo.ivpn.net/stable/ubuntu/generic.gpg | gpg --dearmor > ~/ivpn-archive-keyring.gpg

          sudo mv ~/ivpn-archive-keyring.gpg /usr/share/keyrings/ivpn-archive-keyring.gpg

          # Set Appropriate Permissions for GPG key
          sudo chown root:root /usr/share/keyrings/ivpn-archive-keyring.gpg && sudo chmod 644 /usr/share/keyrings/ivpn-archive-keyring.gpg

          # Add the IVPN repository
          curl -fsSL https://repo.ivpn.net/stable/ubuntu/generic.list | sudo tee /etc/apt/sources.list.d/ivpn.list

          # Set Appropriate Permissions for Repository
          sudo chown root:root /etc/apt/sources.list.d/ivpn.list && sudo chmod 644 /etc/apt/sources.list.d/ivpn.list

          # Update APT repo info
          sudo apt update

          # To install IVPN software (CLI and UI)
          sudo apt install ivpn-ui
      tags: app


    - name: Install Signal desktop app
      shell:
        creates: /etc/apt/sources.list.d/signal-desktop.sources
        cmd: |
          # 1. Install our official public software signing key:
          wget -O- https://updates.signal.org/desktop/apt/keys.asc | gpg --dearmor > signal-desktop-keyring.gpg;
          cat signal-desktop-keyring.gpg | sudo tee /usr/share/keyrings/signal-desktop-keyring.gpg > /dev/null

          # 2. Add our repository to your list of repositories:
          wget -O signal-desktop.sources https://updates.signal.org/static/desktop/apt/signal-desktop.sources;
          cat signal-desktop.sources | sudo tee /etc/apt/sources.list.d/signal-desktop.sources > /dev/null

          # 3. Update your package database and install Signal:
          sudo apt update && sudo apt install signal-desktop
      tags: signal

  become: true
  become_user: root

- name: Add gnupg conf file
  copy:
    src: scdaemon.conf
    dest: $HOME/.gnupg/scdaemon.conf

- name: Create a gpg-agent.service override directory for Yubico GPG keys
  ini_file:
    no_extra_spaces: true
    dest: $HOME/.config/systemd/user/gpg-agent.service.d/override.conf
    section: Service
    option: ExecStart
    values: 
      - ""
      - /usr/bin/gpg-agent --supervised --daemon --enable-ssh-support

- name: systemctl-daemon-reload
  systemd:
    daemon_reload: true
    scope: user
  changed_when: false
  ignore_errors: true


- name: Update vimrc ansible yml handling
  lineinfile:
    path: "$HOME/.vimrc"
    line: "autocmd BufRead,BufNewFile */spn-admin/*.y[a]ml set filetype=yaml.ansible"
