<VirtualHost *:80>
    ServerName {{ dns }}

    ServerAdmin webmaster@localhost
    DocumentRoot {{ dokuwiki_web_path }}/dokuwiki

    ErrorLog ${APACHE_LOG_DIR}/dokuwiki-error.log
    CustomLog ${APACHE_LOG_DIR}/dokuwiki-access.log combined

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet

