---
- name: Set static IP
  shell:
    cmd: nmcli c m "Wired connection 1" ipv4.addresses 192.168.99.134/24 ipv4.method manual && nmcli c m "Wired connection 1" ipv4.gateway 192.168.99.11 && nmcli c m "Wired connection 1" ipv4.dns 192.168.99.11 && nmcli c down "Wired connection 1" && nmcli c up "Wired connection 1"

- name: Add docker repo
  shell:
    cmd: | # Add Docker's official GPG key:
      apt-get update
      apt-get install ca-certificates curl gnupg
      install -m 0755 -d /etc/apt/keyrings
      curl -fsSL https://download.docker.com/linux/debian/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
      chmod a+r /etc/apt/keyrings/docker.gpg

      # Add the repository to Apt sources:
      echo \
        "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/debian \
        $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
        tee /etc/apt/sources.list.d/docker.list > /dev/null
      apt-get update

- name: Install docker
  shell:
    cmd: |
      apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

- name: Install packages
  apt:
      name: 
        - vim
        - sshfs
        - kodi
        - kodi-inputstream-adaptive
  tags: packages

- name: Add keymap file for LG TV remote
  file:
    src: lgremote.xml
    dest: "$HOME/.kodi/userdata/keymaps/lgremote.xml"

- name: Mount touro disk at startup
  mount:
      path: /root/rpi3_touro
      state: present
      src: root@192.168.99.143:/media/touro
      fstype: fuse.sshfs
      opts: noauto,user,x-systemd.automount,defaults,_netdev,allow_other,identityfile=/root/.ssh/id_ed25519
  become: true
  become_user: root
  tags: mounts

