---
- name: Create directories
  file:
    state: directory
    path: "{{ item }}"
  loop:
    - /etc/transmission-daemon
    - /root/libnatpmp

- name: Install packages
  apt:
      name: 
        - minidlna
        - openvpn
        - transmission-cli
        - transmission-daemon
        - tmux
        - dnsutils
        - git
        - nfs-common
  tags: packages

- name: Copy root user ssh keys to rpi
  authorized_key:
      key: "{{ lookup('file', '/home/antisa/.ssh/id_ed25519.pub') }}" 
      user: root

- name: Mount NAS NFS share
  mount:
      path: /mnt/nas
      state: present
      src: 192.168.99.135:/export/bigassnas
      fstype: nfs
      opts: defaults,noatime

- name: Copy transmission config
  copy:
      src: "transmission.json"
      dest: "/etc/transmission-daemon/settings.json"
  notify: Reload transmission
  tags: transmission

- name: Copy minidlna config
  copy:
      src: "minidlna.conf"
      dest: "/etc/minidlna.conf"
  notify: Restart minidlna

- name: Copy service files
  copy:
      src: "{{ item }}"
      dest: "/etc/systemd/system/{{ item }}"
  loop:
    - protonvpn-ch.service
    - vpn-nat.service
  tags: nat, proton

- name: Checkout newer natpmpc version
  git:
    repo: https://github.com/miniupnp/libnatpmp.git
    dest: /root/libnatpmp
    depth: 1
  tags: nat

- name: Compile newer natpmpc version - make all
  community.general.make:
    chdir: /root/libnatpmp
    target: all
  tags: nat

- name: Compile newer natpmpc version - make install
  community.general.make:
    chdir: /root/libnatpmp
    target: install
  tags: nat

- name: Reload systemd daemon
  systemd:
      daemon_reload: yes
  tags: nat, proton

- name: Copy openvpn configs
  copy:
      src: "{{ item }}"
      dest: "/root/"
      mode: '0755'
  loop:
     - "ch.protonvpn.udp.ovpn"
     - "vpn-nat.sh"
  notify: 
   - Restart openvpn
   - Start protonvpn-ch
   - Start vpn-nat
  tags: nat, proton

- name: Copy openvpn creds
  template:
      src: "{{ item }}.j2"
      dest: "/root/{{ item }}"
  loop:
     - "protonvpn.login"
  notify: 
   - Restart openvpn
   - Start protonvpn-ch
   - Start vpn-nat
  tags: nat, proton

- name: Add cronjob to restart protonvpn-ch.service
  cron:
      name: "restart vpn"
      state: present
      minute: "0"
      hour: "0,6,12,18"
      job: "ping -c 1 1.1.1.1 || systemctl restart protonvpn-ch.service"

- name: Add cronjob to restart vpn-nat
  cron:
      name: "restart vpn-nat every 3h"
      state: present
      minute: "15"
      hour: "*/3"
      job: "systemctl restart vpn-nat.service"
