# {{ ansible_managed }}

app.confHome={{ confluence_home }}
app.install.service$Boolean=true
existingInstallationDir={{ confluence_install_dir }}
httpPort$Long={{ confluence_web_port }}
launch.application$Boolean=false
portChoice=custom
rmiPort$Long={{ confluence_rmi_port }}
sys.adminRights$Boolean=true
sys.confirmedUpdateInstallationString=false
sys.installationDir={{ confluence_install_dir }}
sys.languageId=en
